@using ShoppingList.ViewModels
@model List<SignupVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h1 class="m-0">Your Total Cost is : </h1>
            <span>I want to write </span>
        </div>
    </div>
</div>