@using ShoppingList.ViewModels
@model List<SignupVm>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="row no-gutters m-3">
        <div class="card col-sm-8 col-md-10 col-lg-12 mx-auto shadow">
            <div class="card-header text-center">
                <h4 class="m-0">Item Store and Cost are required fields.</h4>
                <h4 class="m-0">Hit the back button in your browser to try again</h4>
            </div>
        </div>
    </div>
</body>
</html>
